{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    {% if user.is_authenticated %}
        <h1 class="text-center mb-4">Select a Quiz to Start</h1>
        <div class="row">
            {% for quiz in quiz_types %}
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm h-100 d-flex flex-column">
                    <div class="card-body">
                        <h5 class="card-title text-center text-primary">{{ quiz.name }}</h5>
                        <p class="card-text text-center text-muted">{{ quiz.description }}</p>
                    </div>
                    <div class="mt-auto text-center">
                        <a href="{% url 'quiz:start_quiz' quiz.id %}" class="btn btn-outline-primary w-90 my-4">
                            Start {{ quiz.name }} Quiz
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h1>Benvenuto a QuizLand</h1>
            <p class="text-muted">Accedi per iniziare a quizzare.</p>
            <div class="mt-3">
                <a href="{% url 'users:login' %}" class="btn btn-primary mx-2">Accedi</a>
                <a href="{% url 'users:register' %}" class="btn btn-secondary mx-2">Registrati</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
